/* место для вашего кода */

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin-top: 92px;
  margin-bottom: 96px;
  width: 1100px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  margin-left: 63px;
  list-style: circle;
  white-space: nowrap;
}

.header__links-list-item {
  margin-left: -14px;
  margin-right: 42px;
  font-size: 18px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  list-style-type: circle;
}

.header__menu-link {
  text-underline-position: under;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  max-height: 104px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  margin-right: 50px;
  margin-left: 184px;
}

.address {
  max-width: 240px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  margin-right: 25px;
}

.address__contacts-item_no-bullit {
  list-style-type: none;
}

.address__link {
  text-underline-position: under;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1100px;
  width: 100%;
  min-height: 757px;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  inset: 0;
}

 .cover__title {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
    color: white;
}

.aligned-text {
  display: block;
  align-content: center;
  line-height: 1.2;
}

.aligned-text_center {
  text-align: center;
  margin-left: 30px;
  margin-top: 14px;
}

.aligned-text_right {
  text-align: right;
  min-width: 1000px;
  margin-top: 20px;
  margin-left: 30px;
}

.cover__description {
  position: relative;
  display: flex;
  z-index: 1;
  color: white;
  margin-top: 100px;
  column-gap: 107px;
  text-transform: uppercase;
  white-space: nowrap;
}

.cover__description-text {
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 0.85em;
  align-content: center;
}

.cover__description-button {
  display: inline-block;
  padding: 12px 32px;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid white;
  color: white;
  text-decoration: none;
}

.content__section-lots {
  margin: 180px 24px 120px;
  width: 1052px;
}

.lots__title {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 40px;
  text-transform: uppercase;
}

.lots__cards-list {
  display: flex;
  margin-top: 25px;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-item {
  display: flex;
  position: relative;
  list-style: none;
  width: 334px;
  flex-direction: column;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.lots__card-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 100%;
  min-height: 596px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__frame-title {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-decoration-style: solid;
  text-underline-position: from-font;
  color: white;
  padding: 48px 40px 0;
  position: relative;
}

.lots__frame-text {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  width: 254px;
  color: #ffffff;
  position: relative;
  margin: 0 40px 48px;
  bottom: auto;
}

.lots__frame-look-more-link {
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
  line-height: 23.48px;
  text-transform: lowercase;
  margin-left: 40px;
  text-align: left;
  font-family: Raleway, sans-serif;
  text-underline-position: under;
}

.content__section-about {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 118px;
  position: relative;
  max-width: 1076px;
  margin: 0 24px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: black;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  grid-row: 1;
  margin-top: 35px;
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-title-section {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin-top: 133px;
  width: 690px;
}


.about__column-title {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__column-text {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about__column-text-section p:not(:first-of-type) {
  margin-top: 24px;
}

.content__section-footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  margin: 180px auto 0;
  width: 100%;
  max-width: 1100px;
  padding-bottom: 80px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 264.57px;
  position: relative;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  margin-left: 50px;
}

.footer__menu {
  white-space: nowrap;
  margin-right: 22px;
}

.footer__menu-list {
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
}

.footer__links-list-item_no-bullit {
  list-style-type: none;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  gap: 48px;
  margin-right: 50px;
  list-style: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
  border-width: 1px;
}
